@import "./base.css";
@import "tailwindcss";

#app {
  width: 100%;
}

@theme {
  /*Fonts */
  /* --font-inter:
    "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-tnr: "Times New Roman", Times, serif;
  --font-geog: "GeogrotSharp TRIAL Regular", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-oswald: "Oswald", sans-serif; */

  /* colors */
  --color-primary-100: #2563eb;
  --color-004ac6: #004ac6;
  --color-f8fafc: #f8fafc;
  --color-c3c6d7: #c3c6d7;
  --color-505f76: #505f76;
  --color-737686: #737686;
  --color-d0e1fb: #d0e1fb;
  --color-191c1e: #191c1e;
  --color-d0e1fb: #d0e1fb;
  --color-434655: #434655;
  --color-f7f9fb: #f7f9fb;
  --color-505f76: #505f76;
  --color-943700: #943700;
  --color-737686: #737686;

  /* breakpoints */
  --breakpoint-3xl: 120rem;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
}

@layer utilities {
}
